<div class="main posts-show">
  <div class="container">
    <div class="posts-show-item">
      <%= "idが「#{@id}」の投稿詳細画面です" %>
      <div class="post-time">
        <!-- @postのcreated_atカラムのデータを表示してください -->
        <%= @post.created_at %>
      </div>
    </div>
  </div>
</div>
